/* Estilização personalizada para o Datepicker */
.ui-datepicker {
    background: white;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.ui-widget-content {
    background: rgba(255, 255, 255, 0.9);
}

.ui-datepicker-header {
    background: #007bff;
    color: white;
    border-bottom: 1px solid #555;
    border-radius: 10px 10px 0 0;
}

.ui-datepicker-title {
    font-weight: bold;
    text-align: center;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker th {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

.ui-datepicker td {
    padding: 5px;
    text-align: center;
}

.ui-datepicker .ui-state-default {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #007bff;
    border-radius: 5px;
}

.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-state-active {
    background: #007bff;
    color: white;
}
