{% extends 'finance/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Projetos</h2>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for project in projects %}
            <li class="list-group-item">
                <a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a>: {{ project.description }}
                <a class="btn btn-danger btn-sm float-right" href="{% url 'delete-project' project.pk %}">Excluir</a>
            </li>
            {% endfor %}
        </ul>

        <h3 class="mt-4">Adicionar Novo Projeto</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Projeto</button>
        </form>
    </div>
</div>
{% endblock %}
