{% extends 'finance/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Transações Gerais</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Quantia</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.get_expense_or_income_display }}</td>
                <td>
                    <form method="post" action="{% url 'transaction-delete' transaction.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'transaction-add' %}" class="btn btn-primary">Adicionar Transação</a>
</div>
{% endblock %}
